/* reset styles
--------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Main
--------------------------------------------- */
body {
  font-family: "Fira Mono", 'Andale Mono', Consolas, 'Lucida Console', Menlo, 'Luxi Mono', monospace;
  color: #424747;
  background-color: #fff;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  line-height: 1.6em; }

div#container {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  background: #ECEFF1; }

h1.logo {
  font-size: 26px;
  margin-bottom: 30px;
  color: #1f57a4; }

hr {
  height: 3px;
  border: 0;
  width: 10px;
  margin: 30px 0 25px 0;
  background: #B0BEC5; }

a, a:visited {
  padding-top: 2px;
  color: #546E7A !important;
  text-decoration: none;
  border-bottom: 1px dotted #CFD8DC; }

a:hover {
  color: #1f57a4 !important;
  text-decoration: none;
  border-bottom: 2px solid #1f57a4; }

div#wrapper {
  width: 360px;
  height: 160px;
  z-index: 101;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: -110px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 50px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 50px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 50px -15px rgba(0, 0, 0, 0.75); }
  div#wrapper div.elsewhere {
    font-size: 13px; }

.video, .photo-landscape, .photo-square {
  display: none; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer {
  width: 25%; }

.grid-item {
  width: 25%;
  float: left; }

.gutter-sizer {
  width: 4%; }

.grid-item a {
  padding: 0;
  display: block;
  text-decoration: none;
  line-height: 0;
  border-bottom: 0; }

.grid-item img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  display: block;
  max-width: 100%;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.grid-item img:hover,
.grid-item img.flashed {
  opacity: 0.8;
  filter: alpha(opacity=80); }

/* Cursor
--------------------------------------------- */
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #1f57a4;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite; }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #1f57a4; } }
@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #1f57a4; } }
@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #1f57a4; } }
@-ms-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #1f57a4; } }
@-o-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #1f57a4; } }
@media only screen and (max-width: 736px) {
  body {
    font-family: "Fira Mono", 'Andale Mono', Consolas, 'Lucida Console', Menlo, 'Luxi Mono', monospace;
    color: #90A4AE;
    background-color: #fff;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    line-height: 1.5em; }

  h1.logo {
    font-size: 29px;
    margin-bottom: 30px;
    color: #1f57a4; }

  div#instafeed {
    display: none !important; }

  div#container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #ECEFF1; }

  div#wrapper {
    background: #ECEFF1;
    text-align: left;
    padding: 10px;
    height: 500px;
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    div#wrapper div.elsewhere {
      margin-top: 30px;
      font-size: 13px;
      line-height: 1.5em; }
      div#wrapper div.elsewhere span {
        display: block; } }

/*# sourceMappingURL=screen.css.map */
